.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.sqlite3
.DS_Store
.idea/
.vscode/
*.log
*.egg-info/
dist/
build/
*.bak
*.swp
*.swo
node_modules/
coverage/
*.cover
*.orig
*.rej
*.tmp
*.out
*.pid
*.db
*.tar.gz
*.zip
*.egg
*.wheel
*.ipynb_checkpoints